@font-face {
  font-family: "Galmet";
  src: url("../public/fonts/Galmet.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Galmet";
}
